html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(https://images.unsplash.com/photo-1488485300416-de7f8f876d4b?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

#container {
  width: 360px;
  margin: 100px auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.fa-plus {
  float: right;
}

.completed {
  color: grey;
  text-decoration: line-through;
}

h1 {
  background-color: #512B05;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: white;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li:nth-child(2n){
  background-color: #f7f7f7;
}

input {
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #512B05;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background-color: white;
  border: 3px solid #512B05;
  outline: none;
}

span {
  background-color: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear; 
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1.0;
}